---
import Layout from "../../layouts/Layout.astro"
import MaxWidthWrapper from "../../components/MaxWidthWrapper.astro"
---
<Layout>
<MaxWidthWrapper>

<div class="pt-20 pl-5 text-5xl">
<h1 class="text-accent-200 font-bold">The Mystery Game.</h1>
</div>

</MaxWidthWrapper>
</Layout>
