---
import Layout from "../layouts/Layout.astro"
import MaxWidthWrapper from '../components/MaxWidthWrapper.astro'
---

<Layout>
	<MaxWidthWrapper>
		<h1 class="text-5xl">Hello</h1>
	</MaxWidthWrapper>
</Layout>