---
import Layout from "../layouts/Layout.astro"
import MaxWidthWrapper from '../components/MaxWidthWrapper.astro'
---

<Layout>
	<MaxWidthWrapper>
		<div class="min-h-[calc(100vh-14rem)] flex flex-col justify-center">
			<div class="text-xl sm:text-3xl lg:text-5xl">
				<h1 class="text-accent-200 font-bold">Word by Word, Create Your Reality</h1>
				<div class="flex">
					<h1 class="text-accent-200 font-bold">Play the Ultimate </h1>
					<h1 class="text-accent-500 font-bold ml-3">Story Game!</h1>
				</div>
				<div class="pt-5 text-text-100">
					<a href="/browse-stories" class="px-8 py-3 font-semibold border-2 border-none border-black rounded bg-accent-500 text-sm lg:text-lg text-center">Browse Stories</a>
				</div>
			</div>
		</div>
	</MaxWidthWrapper>
</Layout>