---
import MaxWidthWrapper from "./MaxWidthWrapper.astro";
---


<div class="max-w-sm rounded overflow-hidden shadow-lg bg-accent-500/50 border-2 border-accent-500/50">
<img class="w-full" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT-FIe_176MW_sLqpGYSWM19BY4TrxMjGdlUA&usqp=CAU" alt= "game image" >
<div class="px-6 py-4">
<div class="font-bold text-xl mb-2 text-accent-100">Mystery Game!</div>
<p> This is meant to be the description of the game we will put here!</p>
</div>
</div>
