---
import MaxWidthWrapper from "./MaxWidthWrapper.astro";
---


<div class="max-w-sm rounded overflow-hidden shadow-lg">
<img class="w-full" src="https://unsplash.com/photos/the-sun-is-setting-over-the-mountains-in-the-valley-_RZurvkRYM8">
<div class="px-6 py-4">
<div class="font-bold text-xl mb-2">Mystery Game!</div>
<p>i don't know!</p>
</div>
</div>
