---
import MaxWidthWrapper from "./MaxWidthWrapper.astro";

---

<nav class="h-14 sticky inset-x-0 top-0 z-30 bg-background-900/50 border-b border-background-900 backdrop-blur-2xl transition-all">
    <MaxWidthWrapper>
        <div class="h-14 border-b border-b-accent-800 flex items-center justify-between">
            <h1 class="text-2xl text-primary-500">Cogn'plexity</h1>
 
    </div>
    </MaxWidthWrapper>
</nav>
