---
import Navbar from "../components/Navbar.astro";

---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="generator" content={Astro.generator} />
        <title>Cogn'plexity</title>
    </head>
    <body class="bg-background-950 text-primary-50">
        <Navbar />
        <slot />
    </body>
</html>
